<!DOCTYPE html>
<html lang="en">

    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>TennisMap</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" href="~/dist/assets/css/L.Control.Basemaps.css" />
    <link rel="stylesheet" href="~/dist/assets/css/Control.Geocoder.css" />
    <link rel="stylesheet" href="~/dist/assets/css/leaflet-measure.css" />

    <link rel="stylesheet" href="~/dist/assets/css/app.css">

    <link rel="apple-touch-icon" sizes="76x76" href="~/dist/assets/img/favicon-76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/dist/assets/img/favicon-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/dist/assets/img/favicon-152.png">
    <link rel="icon" sizes="196x196" href="~/dist/assets/img/favicon-196.png">
    <link rel="icon" type="image/x-icon" href="~/dist/assets/img/favicon.ico">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#">Tennis Map</a>
        </div>
    
      </div>
    </div>

    <div id="container">

      <div id="map"></div>

      
    </div>
 

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
<script src="~/dist/assets/js/L.Control.Basemaps.js"></script>

<script src="~/dist/assets/js/Control.Geocoder.js"></script>
<script src="~/dist/assets/js/leaflet-measure.js"></script>
<script src="~/dist/assets/js/app.js"></script>
</body>
</html>
